.box-container {
    display: grid;
    background: gray;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header header header header"
    "header header header header header header"
    "sidebar sidebar sidebar main main main"
    "sidebar sidebar sidebar footer footer footer";
    text-align: center;
   
}

    .header {
        grid-area: header;
}
    .sidebar {
        grid-area: sidebar;
    }
    .main {
        grid-area: main;
    }
    .footer {
        grid-area: footer;
    }
